body {
   			background: url("fondo.jpg");
    		background-size: 1366px 768px;
    		background-repeat: no-repeat;; 
		}

canvas {
			background-color: #F8F8FF;
			position: absolute;
			top: 20%;
			left: 30%;
		}		

#boton:hover{
			background-color: black;
			color: red;
		}

       #boton {
			background-color: red;
			border: none;
			color:black;
			font-size: 42px;
			left: 46%;
			position: absolute;
			top: 5%;
		}	